// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-collapse: collapse;
  margin: 0 auto;
  text-align: left;
  font: Arial
}

td {
  padding: 12px;
}

.even {
  background-color: lightgreen;
}

.odd {
  background-color: lightblue;
}

.center {
  text-align: center;
}

.tabletitle {
  background-color: lightyellow;
  text-align: center;
}

// table img {
//   width: 150px;
//   height: auto;
// }
